@font-face {
    font-family: 'Raleway';
    src: url('../fonts/subset-Raleway-Medium.eot');
    src: url('../fonts/subset-Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Raleway-Medium.woff2') format('woff2'),
        url('../fonts/subset-Raleway-Medium.woff') format('woff'),
        url('../fonts/subset-Raleway-Medium.ttf') format('truetype'),
        url('../fonts/subset-Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

