$background_base_color: #E1EDE6;
$button_bgc_focus: #D4E8D9;
$background_common: #F4F6F5;
$brand_nav-hr_color: #598D66;
$button_color_1: #598D66;
$button_color_2: #EEDB6D;
$button_color_hover_focus: #FAEB97;
$button_color_active: #D9B949;
$button_br_color: #A38314;
$text_color_1: #2C2D35;
$text_color_2: #86928B;
$text_color_3: #F4F6F5;
$card_bgc: #E1EDE6;
$button_bgc_nav_active: #376B44;
$line_color: #C3D1C6;

@mixin button {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: .3s;
}

@mixin font_styles {
    color: $text_color_1;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}