@font-face {
  font-family: "Raleway";
  src: url("../fonts/subset-Raleway-Medium.eot");
  src: url("../fonts/subset-Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-Raleway-Medium.woff2") format("woff2"), url("../fonts/subset-Raleway-Medium.woff") format("woff"), url("../fonts/subset-Raleway-Medium.ttf") format("truetype"), url("../fonts/subset-Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@keyframes scale-out-hor-left {
  0% {
    transform: scaleX(1);
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 0 0;
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.center {
  padding-left: calc(50% - 550px);
  padding-right: calc(50% - 550px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E1EDE6;
  padding-top: 32px;
  padding-bottom: 32px;
  /* Styles for burger menu on HTML5/CSS3 - start

      &__burger {
          position: relative;
          visibility: hidden;

          &:hover svg path {
              stroke: $brand_nav-hr_color;
          }

          &:focus {
              background-color: $button_bgc_focus;
          }

          &:focus svg path {
                  stroke: $brand_nav-hr_color;
          }

          &:active svg path {
              stroke: $button_bgc_nav_active;
          }
      }

      &__burger-nav {
          position: absolute;
          width: 100vw;
          height: 350px;
          background-color:$background_base_color;
          left: 0px;
          top: 50px;
          z-index: -1;
          visibility: hidden;
          padding: 50px 0 0 15px;
      }

      &__check {
          position: absolute;
          visibility: hidden;
          left: -9999999px;

          &:checked~.header__burger-nav {
              left: -23px;
              z-index: 1;
              -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
               visibility: visible;

          }
      }
   */
  /* Styles for burger menu on HTML5/CSS3 - end */
  /* Styles for burger menu on JS - start */
  /* Styles for burger menu on JS  - end*/
}
.header__nav {
  display: flex;
  gap: 60px;
  scroll-behavior: smooth;
}
.header__burger {
  position: relative;
  visibility: hidden;
}
.header__burger:hover svg path {
  stroke: #598D66;
}
.header__burger:focus {
  background-color: #D4E8D9;
}
.header__burger:focus svg path {
  stroke: #598D66;
}
.header__burger:active svg path {
  stroke: #376B44;
}
.header__burger-nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #E1EDE6;
  left: 0px;
  top: 67px;
  z-index: 1;
  visibility: hidden;
  padding: 17px 0 0 15px;
}
.header__burger-nav-animation {
  left: 0px;
  z-index: 1;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  visibility: visible;
}
.header__burger-nav-animation-exit {
  animation: scale-out-hor-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.header__ul {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header__li, .header__burger-li {
  list-style-type: none;
}
.header__burger-li:not(:last-child) {
  margin-bottom: 50px;
}
.header__link, .header__burger-link {
  text-decoration: none;
  color: #2C2D35;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
}
.header__link:hover, .header__burger-link:hover {
  color: #598D66;
}
.header__link:focus, .header__burger-link:focus {
  background-color: #D4E8D9;
}
.header__link:active, .header__burger-link:active {
  color: #376B44;
}
.header__basket-box {
  position: relative;
}
.header__basket-box:hover svg path {
  stroke: #598D66;
}
.header__basket-box:focus {
  background-color: #D4E8D9;
}
.header__basket-box:focus svg path {
  stroke: #598D66;
}
.header__basket-box:active svg path {
  stroke: #376B44;
}
.header__basket {
  position: absolute;
  height: 13px;
  width: 13px;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  background-color: #598D66;
  color: #2C2D35;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  visibility: hidden;
}
.header__container {
  display: flex;
  align-items: center;
  gap: 60px;
}

.logo__text {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #2C2D35;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #598D66;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

@media (max-width: 768px) {
  .center {
    padding-left: 3%;
    padding-right: 3%;
  }
  .header__link, .header__burger-link {
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 0px;
  }
  .header__nav {
    width: 100%;
    gap: 0;
    justify-content: space-between;
  }
  .header__container {
    justify-content: space-between;
    width: 100%;
    gap: 0;
  }
}
@media (max-width: 460px) {
  .header {
    padding-left: 0;
    padding-right: 0;
    background-color: #F4F6F5;
  }
  .header__nav {
    display: none;
  }
  .header__container {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #E1EDE6;
  }
  .header__burger {
    visibility: visible;
    margin-left: 3%;
  }
  .header__basket-box {
    margin-right: 3%;
  }
}
.footer {
  display: flex;
  background-color: #E1EDE6;
  padding-top: 23px;
  padding-bottom: 23px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__logo {
  margin-bottom: 35px;
}
.footer__phone-link {
  text-decoration: none;
  color: #2C2D35;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
}
.footer__text {
  color: #2C2D35;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #86928B;
  font-size: 18px;
  margin-top: 8px;
}
.footer__nav {
  display: flex;
  gap: 60px;
  margin-right: 69px;
}
.footer__link-heading {
  color: #2C2D35;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
}
.footer__li {
  list-style-type: none;
}
.footer__li:not(:last-child) {
  margin-bottom: 6px;
}
.footer__social-link-box {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}
.footer__social-link {
  display: flex;
  align-items: center;
}
.footer__social-link:focus {
  background-color: #D4E8D9;
}
.footer__social-link:hover svg path {
  fill: #598D66;
}
.footer__social-link:focus svg path {
  fill: #598D66;
}
.footer__social-link:active svg path {
  fill: #376B44;
}
.footer__link, .footer__tab {
  text-decoration: none;
  color: #2C2D35;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #86928B;
  font-size: 18px;
  line-height: 150%; /* 27px */
}
.footer__link:hover, .footer__tab:hover {
  color: #598D66;
}
.footer__link:focus, .footer__tab:focus {
  background-color: #D4E8D9;
}
.footer__link:active, .footer__tab:active {
  color: #376B44;
}
.footer__rights {
  color: #2C2D35;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #86928B;
  font-size: 12px;
  line-height: 120%; /* 14.4px */
}
.footer__rights_margin {
  margin-bottom: 6px;
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    justify-content: normal;
  }
  .footer__contacts {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .footer__nav {
    margin-right: 39px;
  }
}
@media (max-width: 700px) {
  .footer {
    display: block;
  }
  .footer__contacts {
    margin-bottom: 30px;
  }
  .footer__text {
    font-size: 16px;
  }
  .footer__link {
    font-size: 16px;
  }
  .footer__nav {
    gap: 0;
    margin-right: 0px;
    justify-content: space-between;
  }
  .footer__right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__rights {
    display: inline;
  }
}
@media (max-width: 460px) {
  .footer__contacts {
    display: block;
  }
  .footer__link-heading, .footer__phone-link {
    font-size: 16px;
  }
  .footer__nav {
    display: block;
  }
  .footer__ul {
    margin-bottom: 20px;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html, body {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #2C2D35;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #598D66;
  font-size: 20px;
  font-weight: 700;
}

.line {
  display: none;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.team__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
}
.team__title, .team__sub-title {
  color: #2C2D35;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 40px;
  line-height: 110%; /* 44px */
}
.team_title-span {
  color: #598D66;
}
.team__text {
  text-align: center;
  margin-bottom: 30px;
  padding: 0 50px;
}
.team__sub-title {
  font-size: 30px;
  margin-bottom: 8px;
}
.team__sub-text {
  color: #2C2D35;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #86928B;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}
.team__employees {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
  overflow-y: auto;
}
.modal__window {
  position: relative;
  padding: 40px;
  max-width: 900px;
  background-color: #F4F6F5;
  transition: 1s;
}
.modal__img-box {
  width: 250px;
  height: 320px;
  overflow: hidden;
  margin-bottom: 25px;
}
.modal__close {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.modal__close:hover {
  fill: darkgrey;
}
.modal__employee {
  display: flex;
  gap: 50px;
}
.modal__bio {
  font-size: 20px;
  padding-right: 30px;
}
.modal__text {
  font-size: 16px;
  margin-bottom: 10px;
}

.employee__img-box-modal {
  width: 310px;
  height: 380px;
  overflow: hidden;
  margin-bottom: 25px;
}

.scale-in-center {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.employee {
  margin-bottom: 10px;
}
.employee__form {
  display: none;
}
.employee__img-box {
  width: 250px;
  height: 320px;
  overflow: hidden;
  margin-bottom: 25px;
}
.employee__img-persons {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.employee__name {
  color: #2C2D35;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #2C2D35;
  font-size: 25px;
  margin-bottom: 10px;
}
.employee__title {
  margin-bottom: 10px;
  color: #2C2D35;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #86928B;
  font-size: 15px;
}
.employee__contacts {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}
.employee__social-link {
  display: flex;
  align-items: center;
}
.employee__social-link:focus {
  background-color: #D4E8D9;
}
.employee__social-link:hover svg path {
  fill: #598D66;
}
.employee__social-link:focus svg path {
  fill: #598D66;
}
.employee__social-link:active svg path {
  fill: #376B44;
}
.employee:hover .employee__img-persons {
  transform: scale(1.2);
  transition: 1s;
  cursor: pointer;
}
.employee:focus {
  background-color: #D4E8D9;
}
.employee:active {
  color: #376B44;
}

.slide-in-right {
  animation: slide-in-right 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

@media (max-width: 768px) {
  .modal__window {
    max-height: none;
    margin-top: 600px;
  }
}
@media (max-width: 700px) {
  .modal__employee {
    display: block;
  }
  .modal__text {
    margin-top: 30px;
    max-width: 300px;
  }
  .modal__window {
    height: auto;
    margin-top: 600px;
  }
}
@media (max-width: 460px) {
  .employee__img-box-modal {
    width: 250px;
    height: 330px;
    overflow: hidden;
    margin-bottom: 25px;
  }
}
@media (max-height: 600px) {
  .modal__window {
    margin-top: 350px;
  }
}/*# sourceMappingURL=team.css.map */